.custom-table {
  width: 80%; 
  max-width: 600px; 
  border-collapse: collapse;
  margin: 70px auto 0; 
  border: 1px solid #bf7bd6; 
  box-shadow: 0 0 10px #bf7bd6; 
}


th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
  font-size: 14px;
}

th {
  background-color: 	#e8a8e8;
}

tr:hover {
  background-color: #ffffff;
}

@media screen and (max-width: 768px) {
  .custom-table {
    width: 90%; 
  }

  th, td {
    padding: 8px; 
    font-size: 12px; 
  }
}
